body{
    margin: 0;
    padding: 0;
}
.head{
    margin-top: 0px;
    position: sticky;
    top: 0px;
    z-index: 3;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    opacity: 0.9;
}
.header{
    padding-top:15px ;
    display: flex;
    justify-content: space-around;
    background-color:white;
    opacity: 1;
    margin-bottom: 10px;
    opacity: 0.9;
}
.fs{
    font-size: 25px;
}
.lk {
  color: black;   
  text-decoration: none;
}
.lk:hover{
    opacity: 0.3;
    border-bottom: 2px solid black;
}
.btnget{
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
}
.btnget:hover{
    background-color: #610287;
    color: white;
}
.image{
    width: 100%;
}
.anotherbody{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;
}
.one , .two , .three{
    width: 25%;
}
.one1 , .two1 , .three1 {
     z-index: 1;
     background-color: lightgray;
     margin-top: -100px;
     border-radius: 5px;
}
.ov{ 
  opacity: 0.5;
  overflow: hidden;
  text-overflow: "...";
  display: block;
  line-height: 2em;
  max-height: 7.5em;
  padding: 30px;
  padding-bottom: 50px;
}
.istock , .cafe , .hotel{
    font-size: 50px;
    font: bold;
    text-align: center;
    padding-top: 120px;
}
.istock{
    color:red ;
}
.cafe{
    color: green;
}
.hotel{
    color:blue;
}
.oneimage , .twoimage , .threeimage{
    border-radius: 10px;
    z-index: 2;
}
.oneimage:hover , .twoimage:hover, .threeimage:hover{
    opacity: 0.6;
}
.onecen{
    display: flex;
    justify-content: center;
}
.thirdbody{
    display: flex;
    justify-content: space-between;
}
.thirdone{
    width: 50%;
}
.welcome,.software{
    margin-bottom: 10px;
    margin-left: 60px;
    font-weight: 900;
    font-size: 35px;
}
.software{
    margin-bottom: 30px;
}
.galaxy{
    margin-left: 60px;
    line-height: 30px;
    width: 75%;
    text-align: justify;
    font-size: large;
    opacity: 0.6;
    margin-bottom: 30px;
}
.thirdtwo{
    width: 50%;
    margin-right: 50px;
}
.thirdimage{
   border-radius: 10px;
    width: 100%;
}
.mission{
    font-size: 30px;
    font-weight: 600;
    margin-left: 120px;
    margin-bottom: 20px;
}
.raising,.raising1{
    font-size: large;
    opacity: 0.6;
    margin-left: 120px;
    text-align: justify;
    width: 67%;
    margin-bottom: 20px;
}
.raising1{
   width: 18%;
}
.fourthbody{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    background-color: #241E2F;
    border-radius: 15px;
    height: 150px;
}
.fourthone{
    width: 25%;
    text-align: center;
    padding-top: 20px;
}
.color1{
    color:#F55887;
    font-size: 60px;
    font-weight: bold;
}
.esta{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.customer{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.image1{
    margin-left: 30px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color:lightgray;
    margin-right: 40px;
    border-radius: 5px;
}


.image3{
    height: 150px;
    padding: 5px;
    padding-left: 13px;
    border-radius: 20px;
}

.after{
     font-size: 45px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.fivebody{
    display: flex;
    justify-content: space-around;
}
.fiveimage{
    opacity: 0.2;
    margin-left: 50px;
}
.fiveimage1{
   background-color: #D3D2D5;
   margin-top: 40px;
   border-radius: 10px;
   height: 280px;
}